.comboBox {
  position: relative;
  width: 200px;
  height: 40px
}

.comboBoxInput {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #c1bcbc;
  border-radius: 5px;
  background-color: inherit;
  color: inherit
}

.comboBoxPopover {
  position: absolute;
  z-index: 2000;
  overflow: auto;
  width: 100%;
  color: inherit;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}

.comboBoxList {
  overflow: 'scroll';
}

.comboBoxOption {
  text-align: left;
  cursor: pointer;
  padding: .25rem .5rem;
}
